.side-menu {
  display: flex;
  max-height: 100%;
  text-align: left;

  position: fixed;
  top: 0;
  bottom: 0;
  width: calc(25% - 1px);
  border-right: 1px solid #ededed;
  background-color: #fafafa;
}
.scrollbar {
  width: 100%;
  scroll-behavior: smooth;
}
.img-wrapper {
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 300px;
  max-width: 450px;
  overflow: hidden;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}
.info-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
img {
  width: 100%;
  display: block;
  object-fit: contain;
}
::ng-deep .side-menu .content .wrapper {
  background-color: unset !important;
}

::ng-deep .side-menu .wrapper .content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
@media screen and (max-width: 47.9375em) {
  .side-menu {
    padding-top: 0;
    width: 80%;
    border-right: unset;
  }
}
