<nav class="side-menu">
  <tui-scrollbar class="scrollbar">
    <div class="header-wrapper">
      <div class="name-info">
        <p class="tui-text_h5 name-info-user">{{ user.name }}</p>
        <p class="tui-text_body-m-bold name-info-positon">
          {{ user.position }}
        </p>
      </div>
      <button
        tuiButton
        appearance="icon"
        (click)="onClose()"
        size="m"
        icon="tuiIconCloseLarge"
        class="close-btn"
      ></button>
    </div>

    <div class="img-wrapper">
      <img [src]="user.img" />
    </div>

    <ul class="info-wrapper">
      <span class="icon">
        <img class="img-fluid" src="../../../../assets/icon.png" />
      </span>
      <li>
        <p class="tui-text_body-m-bold">
          <strong class="info">Name : </strong> {{ user.name }}
        </p>
      </li>
      <li>
        <p class="tui-text_body-m-bold">
          <strong class="info">Birthday : </strong> {{ user.birthday }}
        </p>
      </li>
      <li>
        <p class="tui-text_body-m-bold">
          <strong class="info">Position : </strong> {{ user.position }}
        </p>
      </li>
      <li>
        <p class="tui-text_body-m-bold">
          <strong class="info">Email : </strong> {{ user.email }}
        </p>
      </li>
      <li>
        <p class="tui-text_body-m-bold">
          <strong class="info">Miltary Service : </strong>
          {{ user.military_service }}
        </p>
      </li>
    </ul>

    <button
      tuiButton
      class="btn"
      iconRight="tuiIconDownloadLarge"
      (click)="onDownload()"
    >
      Download CV
    </button>
  </tui-scrollbar>
</nav>
