// .card {
//   height: 150px;
// }
.card-wrapper {
  overflow: hidden;
  position: relative;
  margin: 5px 0;
  border-radius: 5px;
  padding: 0;
}
.card-wrapper:hover .overlay,
.card-wrapper:hover .overlay::before {
  visibility: visible;
  padding: 15px;
  width: 100%;
  -webkit-transform: skewX(-40deg) scale(5);
  transform: skewX(-40deg) scale(5);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.6s all ease-in-out;
  margin: auto;
  right: 0;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--tui-overlay);
  color: var(--tui-base-01);
  transition: 0.6s all ease-in-out;
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
  margin: auto;
}
img {
  width: 100%;
  object-fit: cover;
  min-height: 200px;
  margin: auto;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-info {
  color: #fff;
  position: absolute;
  left: 30%;
  top: -20%;
  opacity: 0;
  transition: 0.6s all ease-in-out;
  text-align: center;
  width: 40%;
}
.card-wrapper:hover .card-info {
  top: 27%;
  opacity: 1;
}
.carousel-img {
  width: 750px;
  min-height: 550px;
  display: block;
  object-fit: contain;
  // margin-bottom: 50px;
}
.carousel-wrapper {
  display: flex;
  align-items: center;
  margin: 0 -5rem;
  tui-carousel {
    margin: -345px -100px -403px;
  }
  :host-context(tui-root._mobile) & {
    margin: 0;

    button {
      display: none;
    }
  }
}

.left-arrow {
  margin-right: 100px;
}
.right-arrow {
  margin-left: 100px;
}
.pagination-items {
  margin-top: 50px;
}
